<div class="content">
	<h1>Teams</h1>
	<p>Use teams to organise and filter resources on the planner.</p>
	<%= link_to 'Create a new team', new_team_path %>
	<% if @organisation.teams.count > 0 %>
		<table>
		  <tr class="header">
		    <th>Name</th>
		  </tr>

		<% for team in @teams %>
		  <tr class="<%= cycle('odd','even') %>">
		    <td><%= link_to team.name, edit_team_path(team) %></td>
		  </tr>
		<% end %>
		</table>
	<% end %>
</div>