<div id="allocation_<%= @allocation.id.to_s %>" class="allocation" style="background-color:<%= @allocation.project.colour %>" onclick="toggleAllocationSelection(this)">
	<%= @allocation.project.name %>
</div>
