dt {
	width:90px;
	float:left;
	line-height:24px;
	font-size:14px;
	margin-top:0px;
}
div.login-panel input {	
    line-height: 18px;
}
a#help-link {
    top:-5px;
    padding-top:0;
    z-index:-1;
}
