body#login div.login-panel input {
    line-height:16px;
	font-size:108%;
}
body#login dt.login-panel-password {
	margin-top:8px;
}
body#login div.login-panel dd input #password {
    float:left;
}
body#login div.login-panel dd {
    position:relative;
}
body#login div.login-panel span {
    position:absolute;
    margin-left:10px;
}
