html, body {
    background-color:#79948b;
    text-align:center;
    min-width:1020px;
    color:#fff;   
}
a {
    color:#fff;
    text-decoration:none;
}
a:hover {
    color:#a0eeee;
}
a.highlight {
    color:#a0eeee;
}
a.highlight:hover {
    color:#ff6c00;
}
a.callout {
    background-image:url('../images/link-arrow.png');
    background-repeat:no-repeat;
    background-position:0px 50%;
    padding-left:12px;
    color:#a0eeee;
}
a.callout:hover {
    color:#ff6c00;
}
strong {
    font-weight:bold;
}
#wrapper {
    width:1020px;
    margin:0 auto;
    margin-bottom:60px;
    padding-bottom:1px;
    text-align:left;
    background-color:#164444;
    background-image:url('../images/bg_dandelion.jpg');
    background-repeat:no-repeat;
    min-height:880px;
    position:relative;
}
#header {
    background-color:#333;
    height:50px;
}
#primary {
    width:675px;
    float:left;
    min-height:702px;
}
#secondary {
    width:345px;
    float:right;
}
#footer {
    background-color:#071111;
    clear:both;
    width:940px;
    margin:40px 40px 0 40px;
    height:88px;
}
#nav {
    padding-left:30px;
}
#nav a {
    font-size:108%;
    line-height:50px;
    padding:10px;
}
div.sidebar {
    padding:25px 20px;
    margin:15px 6px;;
    background-image:url('../images/bg_sidebar.jpg');
    background-repeat:no-repeat;
}
#primary.full-width {
	min-height:20px;
}
div.primary-full-width {
	clear:both;
	padding:40px 40px 20px 40px;
}
div.tour-item {
    border-bottom:1px solid #739b99;
	margin-bottom:40px;	
	padding-bottom:40px;
}
div.tour-item h2 {
    font-size:167%;
	padding-bottom:12px;
}
div.tour-item img {
	padding-top:20px;
	width:940px;
}
#primary div {
    margin:70px 14px 0 40px;
}
#primary div p {
    margin-top:20px;
    line-height:1.5;
}
#primary div h1, #primary div h2 { 
    padding-bottom:12px;
    border-bottom:1px solid #739b99;
}
#primary div.primary-content-header {
    margin-top:132px;
}
#primary div.primary-content-header p {
    font-size:123.1%;
}
#primary div.primary-content-header p.description {
    font-size:153.9%;
}
#primary div.primary-content-left {
    float:left;
    width:300px;
    margin-right:0;
    font-size:123.1%;
}
#primary div.primary-content-right {
    float:right;
    width:300px;
    margin-left:20px;
    font-size:123.1%;
}
#footer img {
    float:left;
    margin:20px;
}
#footer-nav {
    float:right;
    margin:20px;
}
#footer-nav a {
    font-weight:bold;
    font-size:85%;
    padding-left:13px;
}
/* secondary and forms */
#secondary form input, form input {
    border:0;
    padding:4px;
    width:252px;
    color:#383d3d;
    font-size:85%;
    margin-bottom:10px;
}
#secondary label {
    color:#ccc;
    font-size:93%;
    padding-bottom:2px;
    display:block;
}
#secondary form input#password {
    width:100px;
    margin-right:10px;
}
input.button, #secondary input.button {
    width:auto;
    background-color:#ff6c00;
    font-weight:bold;
    color:#333;
    font-size:93%;
}
#secondary p {
    width:260px;
    margin-bottom:4px;
}
#secondary h3 { 
    padding-bottom:12px;
    margin-bottom:12px;
    border-bottom:1px solid #739b99;
    width:260px;
    font-size:153.9%;
}
/* login panel */
body#login div.login-panel {
	width:430px;
	text-align:left;
	padding:0 32px;
}

body#login div.login-panel input {
	line-height:24px;
	font-size:108%;
}

body#login div.login-panel input#name {
	width:300px;
}

body#login div.login-panel input#password {
	width:200px;
}

body#login dt {
	width:90px;
	float:left;
	line-height:24px;
	font-size:108%;
	margin-top:5px;
}
body#login dt.login-panel-password {
	margin-top:10px;
}
body#login dd {
	margin:10px 0px 5px 80px;
	line-height:24px;
	font-size:93%;
}
body#login div.login-panel input.button {
	width:auto;
	font-size:100%;
	margin-left:10px;
	padding:3px;
    border:0;
}
#notifications {
	position:fixed;
	left: 0px;
	overflow: visible;
	top: 0px;
	width: 100%;
	z-index: 10000;
	background-color:#fff;
	opacity:.95;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter:alpha(opacity=95);
	cursor:hand;
	cursor:pointer;
}
#notifications #notice, #notifications #warning {
	width:740px;
	margin:0 auto;
	color:#000;
	padding:1em;
	font-size:138.5%;
}
p.question {
    background-image:url('../images/link-arrow.png');
    background-repeat:no-repeat;
    background-position:0px 8px;
    padding-left:12px;
}
div#designby {
    clear:both;
    width:940px;
    margin:5px 40px 30px 40px;	
	text-align:right;
}
div#designby a {
	color:#598180;
	font-size:85%;
}
div#designby a:hover {
	color:#fff;
}
/* register */
form.form-register {
	margin-top:32px;
}
form.form-register input {
	line-height:24px;
	font-size:108%;
	width:300px;
}
form.form-register input#password {
	width:200px;
}
form.form-register dt {
	width:120px;
	float:left;
	line-height:24px;
	font-size:108%;
	margin-top:6px;
	padding-right:15px;
	text-align:right;
}
form.form-register dd {
	margin:10px 0px 5px 80px;
	line-height:24px;
	font-size:93%;
}
form.form-register input.button {
	width:auto;
	font-size:100%;
	margin-left:170px;
	margin-top:10px;
	padding:3px;
    border:0;
	width:100px;
}