<div id="subscribe" class="sidebar">
	<h3>Subscribe to our newsletter</h3>
	<p>Hear about new features, special offers and more about once-a-month.</p>
	<form action="http://deploygo.createsend.com/t/y/s/dydjuu/" method="post">
		<label for="dydjuu-dydjuu">Email</label> <input type="text" name="cm-dydjuu-dydjuu" id="dydjuu-dydjuu" class="small" />
		<input type="submit" value="Subscribe" class="button" />
	</form>
</div>