<div id="primary">
	<div class="primary-content-header">
		<h1><%= image_tag("heading-plans.png", :alt => 'Plans and Pricing', :height => '47', :width => '282') %></h1>
		<p class="description">Complete the simple form to signup for the free plan.</p>
		<p>We are currently in a public beta, offering free accounts whilst we develop the service behind the scenes.</p>
		<form>
			Name<br/>
			Email<br />
			Password<br />
			Repeat password<br />
			Organisation name
		</form>
	</div>
</div>
<div id="secondary">
	<%= render(:partial => 'logo') %>
	<%= render(:partial => 'subscribe') %>
	<div class="sidebar">
		<h3>Need help?</h3>
		<p>Try our <a href="/home/support" class="highlight">support</a> pages or <a class="highlight" href="/home/contact">contact</a> us if you can't find an answer there.</p>
	</div>
</div>