<div id="primary">
	<div class="primary-content-header">
		<h1><%= image_tag("heading-support.png", :alt => 'Support', :height => '47', :width => '159') %></h1>
		<p class="description">Some questions you might have.</p>
        <p>If the answer you need isn't here then <a href="/home/contact" class="highlight">get in touch</a>.</p>     
        <p class="question">
            <strong>Is our data backed up in case of an emergency?</strong><br />
            We take regular backups of the data on our system to ensure we can recover from any error.
        </p>
        <p class="question">
            <strong>Can we install deploygo on our own server?</strong><br />
            <strong>deploygo</strong> is available only as a hosted service - so you don't have any servers, upgrades or installation to manage!
        </p>
        <p class="question">
           <strong>Do you provide phone support?</strong><br />
            We have email support available and usually respond the same day. See our <a href="/home/contact">contact</a> page for details.
        </p>
        <p class="question">
           <strong>Do you offer any paid plans?</strong><br />
            We are in beta mode, which gives us an opportunity to improve deploygo with feedback from real people.<br />
			When we leave beta later this year we will offer free trial accounts and some paid plans, the details of which are not yet finalised.
        </p>
<!--
        <p class="question">        
            <strong>Are there any hidden fees?</strong><br /> 
            No. Plain and simple. No cancellation, join up or termination fees - just the single monthly payment.
        </p>
        <p class="question">
            <strong>How does your refund policy work?</strong><br />
            You only pay for one month at a time on a rolling basis. You can cancel whenever you like, and won't get charged again, but you're responsible for any charges already made.
        </p>
-->
        <p class="question">
            <strong>Is deploygo available in other languages besides English?</strong><br />
            deploygo is only available in English at the moment - though you can enter your content in many languages.
        </p>
        <p class="question" style="margin-bottom:20px;">
            <strong>Is there more help available?</strong><br />
            When you are loggged in there is more application specific help available in the application.
        </p>
	</div>
</div>
<div id="secondary">
	<%= render(:partial => 'logo') %>
	<%= render(:partial => 'subscribe') %>
</div>
