<div id="primary">
	<div class="primary-content-header">
		<h1><%= image_tag("heading-support.png", :alt => 'Support', :height => '47', :width => '159') %></h1>
		<p class="description">Description</p>
		<p>TODO</p>
	</div>
	<div class="primary-content-left">
		<h2>Heading 2</h2>
		<p>Content
	</div>
	<div class="primary-content-right">
		<h2>Heading 2</h2>
		<p></p>
	</div>
<!-- 
Is our data backed up in case of an emergency?
Can we install deploygo on our own server?
Do you provide phone support?
Are there any hidden fees? No.
How does your refund policy work? You only pay for one month at a time on a rolling basis. You can cancel whenever you like, and won't get charged again, but you're responsible for any charges already made.
Is deploygo available in other languages besides English? deploygo is only available in English at the moment - though you can enter your content in many languages
-->
</div>
<div id="secondary">
	<%= render(:partial => 'logo') %>
	<%= render(:partial => 'subscribe') %>
</div>