<div id="primary">
	<div class="primary-content-header">
		<h1><%= image_tag("heading-support.png", :alt => 'Support', :height => '47', :width => '159') %></h1>
		<p class="description">TODO - FAQ page layout and content - use column left and right</p>
		<p>TODO</p>
	</div>
</div>
<div id="secondary">
	<%= render(:partial => 'logo') %>
	<%= render(:partial => 'subscribe') %>
</div>