<div id="primary" class="full-width">
	<div class="primary-content-header">
		<h1><%= image_tag("heading-tourmain.png", :alt => 'Screenshot and Feature Tour', :height => '47', :width => '520') %></h1>
	</div>
</div>
<div id="secondary">
	<%= render(:partial => 'logo') %>
</div>
<div class="primary-full-width">
	<div>
		<div class="tour-item">
			<h2>High Visibility</h2>
			<p>Dates across the top, resource down the side and projects in the middle. Simple.</p>
			<img src="/images/tour1.jpg" alt="" height="400" />
		</div>
		<div class="tour-item">
			<h2>Easy to Use</h2>
			<p>Add resource to a project by simply clicking on a day, or dragging across a selection and pressing create.</p>
			<img src="/images/tour2.jpg" alt="" height="143"/>
		</div>
		<div class="tour-item">
			<h2>See Days Used at a Glance</h2>
			<p>Time spent on a project is automatically updated, and always visible.</p>
			<img src="/images/tour3.jpg" alt="" height="172"/>
		</div>
		<div class="tour-item">
			<h2>Complete Project Control</h2>
			<p>Add due dates, days allocated and other project details.</p>
			<img src="/images/tour4.jpg" alt="" height="542"/>
		</div>
		<div class="tour-item">
			<h2>Get Organised</h2>
			<p>Organise your resources into teams, and use them for planning.</p>
			<img src="/images/tour5.jpg" alt="" height="135" />
		</div>
		<div class="tour-item">
			<h2>Collaborate &amp; Share</h2>
			<p>As many users as you need, with read-only access available.</p>
			<img src="/images/tour6.jpg" alt="" height="376"/>
		</div>
	</div>
</div>