<div style="text-align:center;margin-top:30px;">
<h1 style="font-size:1.4em">Screenshot &amp; Feature Tour</h1>
<div class="tour-item">
	<h2>High Visibility</h2>
	<p>Dates across the top, resource down the side and projects in the middle. Simple.</p>
	<img src="/images/tour1.jpg" alt=""/>
</div>
<div class="tour-item">
	<h2>Easy to Use</h2>
	<p>Add resource to a project by clicking on a day, or picking a range.</p>
	<img src="/images/tour2.jpg" alt=""/>
</div>
<div class="tour-item">
	<h2>See Days Used at a Glance</h2>
	<p>Time spent on a project is automatically updated, and always visible.</p>
	<img src="/images/tour3.jpg" alt=""/>
</div>
<div class="tour-item">
	<h2>Complete Project Control</h2>
	<p>Add due dates, days allocated and other project details.</p>
	<img src="/images/tour4.jpg" alt=""/>
</div>
</div>